h1
{

    text-align:center ;
    color: blue;
    border: 2px;
    border-color: black;

}
.header {
background-color:darkseagreen;
border:5px;

margin:50px 50px;
padding:20px;
}

h2
{

    text-align:center ;
    color: red;
    border: 2px;
    border-color: black;

}
.header {
background-color:darkseagreen;
border:5px;

margin:50px 50px;
padding:20px;
}

